body {
    margin: 0;
    padding: 0;
}

.top-news {
    height: 450px;
}

.top-news-content {
    height: 85%;
    background-image: url(../images/contact_us_title_bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-detail-top>span {
    font-size: 46px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-detail-top>p {
    text-align: center;
    color: white;
}

main {
    height: 1500px;
    display: flex;
    justify-content: center;
}

.news {
    height: 98%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 80%;
}

.news-box {
    width: 270px;
    height: 420px;
    box-shadow: 0 0 2px black;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 11;
    justify-content: center;
    align-items: center;
}

.new-box-content {
    height: 90%;
    width: 80%;
}
.head-news {
    height: 18%;
}
.head-news>span {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.888);
    gap: 10;
    float: left;
}
.head-news>span:hover {
    color: #9fce4ecc;
}
.date-news {
    height: 5%;
}
.hov:hover {
    color: #9fce4ecc;
}
.date-news > span {
    font-size: 11px;
}
.line-news {
    height: 5%;
}
.line-news > hr {
    width: 99%;
}
.text-news {
    height: 59%;
}
.text-news > span {
    font-size: 13px;
}
.read-more-news {
    height: 10%;
}
.read-more-news > span {
    font-size: 11px;
}
.read-more-news > span:hover {
    color: #9fce4ecc;
}
#short-h {
    height: 20%;
}
#text-h {
    height: 80%;
}
.small-box {
    width: 21%;
}
@media screen and (max-width: 1041px) {
    footer {
        margin-top: 150px;
    }
    main {
        height: 3000px;
    }
}
@media screen and (max-width: 703px) {
    footer {
        margin-top: 1300px;
    }
}
@media screen and (max-width: 329px) {
    .text-news {
        font-size: 9px;
    }
    .head-news > span{
        font-size: 13px;
    }
    .text-news > span {
        font-size: 12px;
    }
    .read-more-news {
        min-height: 50%;
    }
}
@media screen and (max-width: 284px) {
    /* .news-box {
        min-height: 700px;
    } */
    .text-news > span {
        font-size: 10px;
    }
    .head-news > span {
        font-size: 11px;
    }
    .date-news > span {
        font-size: 7px;
    }
}
@media screen and (max-width: 186px) {
    .news-box {
        min-height: 700px;
    }
    main {
        height: 4000px;
    }
    footer {
        margin-top: 2700px;
    }
}
@media screen and (max-width: 117px) {
    .text-news > span {
        font-size: 7px;
    }
    .head-news > span {
        font-size: 9px;
    }
    .date-news > span {
        font-size: 4px;
    }
}